**Project 10: Credit Card Fraud Detection**

---
 Vikash Kumar


---

**Importing the libraries of the dependencies**

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
# Loading the dataset to the pandas dataframe
credit_card_dataset = pd.read_csv('/content/creditcard.csv')

In [3]:
# Loading the first 5 rows of the dataframe
credit_card_dataset.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [4]:
# Loading the last 5 rows of the dataframe
credit_card_dataset.tail()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
83274  59766 -0.465927  0.740705  1.731343  ...  0.078020  0.093914    1.00    0.0
83275  59767 -0.725577  0.379742  1.468039  ...  0.114452  0.115366   46.96    0.0
83276  59768 -1.711347  1.308095 -0.232786  ...  0.216308  0.181065   10.00    0.0
83277  59768  1.471591 -1.234024  0.279178  ...  0.029493  0.007596   40.00    0.0
83278  59769  1.135220  0.124163  0.109082  ...       NaN       NaN     NaN    NaN

[5 rows x 31 columns]

In [5]:
# Loading some information about the dataset
credit_card_dataset.describe

<bound method NDFrame.describe of         Time        V1        V2        V3  ...       V27       V28  Amount  Class
0          0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1          0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2          1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3          1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4          2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0
...      ...       ...       ...       ...  ...       ...       ...     ...    ...
83274  59766 -0.465927  0.740705  1.731343  ...  0.078020  0.093914    1.00    0.0
83275  59767 -0.725577  0.379742  1.468039  ...  0.114452  0.115366   46.96    0.0
83276  59768 -1.711347  1.308095 -0.232786  ...  0.216308  0.181065   10.00    0.0
83277  59768  1.471591 -1.234024  0.279178  ...  0.029493  0.007596   40.00    0.0
83278  59769  1.135220  0.124163  0.109082  ...       NaN       NaN     NaN    NaN

[83279 rows x 31 columns]>

In [6]:
# Checking the number of the null values in the dataframe
credit_card_dataset.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [7]:
# Distribution of the legit transactions and fraudlent transactions
credit_card_dataset['Class'].value_counts()

0.0    83077
1.0      201
Name: Class, dtype: int64

**The loaded data is highly unbalanced.**

**Here, 0 --> Normal Transactions
      1 --> Fraudlent Transactions**

In [13]:
# separating the data for analysis
legit = credit_card_dataset[credit_card_dataset.Class == 0.0]
fraud = credit_card_dataset[credit_card_dataset.Class == 1.0]

In [14]:
print(legit.shape)
print(fraud.shape)

(83077, 31)
(201, 31)

In [16]:
# statistical measures of the legit data
legit.Amount.describe()

count    83077.000000
mean        98.225733
std        269.373860
min          0.000000
25%          7.700000
50%         26.990000
75%         89.690000
max      19656.530000
Name: Amount, dtype: float64

In [17]:
# Statistical measures of the fraud data
fraud.Amount.describe()

count     201.000000
mean       99.628756
std       228.739325
min         0.000000
25%         1.000000
50%         7.520000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [18]:
# compare the values for both transactions
credit_card_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    38197.037038 -0.246222 -0.050140  ...  0.000316  0.001995  98.225733
1.0    33751.094527 -6.422458  4.501157  ...  0.568499  0.052008  99.628756

[2 rows x 30 columns]

**Since the dataframe is unbalanced so we are doing Under Sampling of the data**

**Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions**

In [19]:
legit_sample = legit.sample(n=201)

**Concatenating two DataFrames**

In [20]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [23]:
# Now the data is uniformly distributed and being balanced data
new_dataset.head()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
36224  38443 -0.436281  0.828137  1.096106  ...  0.125493  0.047955  131.95    0.0
18313  29375  1.272851 -0.546623 -0.470251  ... -0.033761  0.009083   10.75    0.0
24958  33459  1.351179 -0.545674  0.082539  ... -0.075064 -0.006244   25.75    0.0
43010  41334 -0.887289  0.404079  1.749694  ... -0.216447 -0.254419   35.55    0.0
16316  27704  1.105748 -0.057512  0.309379  ... -0.025126 -0.002964   19.95    0.0

[5 rows x 31 columns]

In [24]:
new_dataset.tail()

        Time        V1        V2        V3  ...       V27       V28   Amount  Class
80760  58642 -0.451383  2.225147 -4.953050  ...  0.455179  0.001321   113.92    1.0
81186  58822 -4.384221  3.264665 -3.077158  ... -1.537652 -0.994022    45.64    1.0
81609  59011 -2.326922 -3.348439 -3.513408  ...  0.302324  0.536375  1389.56    1.0
82400  59385 -7.626924 -6.976420 -2.077911  ...  0.821381 -1.056088    18.98    1.0
83053  59669  0.326007  1.286638 -2.007181  ...  0.580495  0.300984     6.27    1.0

[5 rows x 31 columns]

In [25]:
new_dataset['Class'].value_counts()

1.0    201
0.0    201
Name: Class, dtype: int64

In [26]:
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    39117.676617 -0.291959 -0.009495  ...  0.013584  0.013421  80.399453
1.0    33751.094527 -6.422458  4.501157  ...  0.568499  0.052008  99.628756

[2 rows x 30 columns]

**Splitting the data into Features & Targets**

In [27]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [28]:
print(X)
print(Y)

        Time        V1        V2  ...       V27       V28   Amount
36224  38443 -0.436281  0.828137  ...  0.125493  0.047955   131.95
18313  29375  1.272851 -0.546623  ... -0.033761  0.009083    10.75
24958  33459  1.351179 -0.545674  ... -0.075064 -0.006244    25.75
43010  41334 -0.887289  0.404079  ... -0.216447 -0.254419    35.55
16316  27704  1.105748 -0.057512  ... -0.025126 -0.002964    19.95
...      ...       ...       ...  ...       ...       ...      ...
80760  58642 -0.451383  2.225147  ...  0.455179  0.001321   113.92
81186  58822 -4.384221  3.264665  ... -1.537652 -0.994022    45.64
81609  59011 -2.326922 -3.348439  ...  0.302324  0.536375  1389.56
82400  59385 -7.626924 -6.976420  ...  0.821381 -1.056088    18.98
83053  59669  0.326007  1.286638  ...  0.580495  0.300984     6.27

[402 rows x 30 columns]
36224    0.0
18313    0.0
24958    0.0
43010    0.0
16316    0.0
        ...
80760    1.0
81186    1.0
81609    1.0
82400    1.0
83053    1.0
Name: Class, Length: 402, dtype: float64

**Split the data into Training data & Testing Data**

In [29]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [30]:
print(X.shape, X_train.shape, X_test.shape)

(402, 30) (321, 30) (81, 30)

**Model Training**

**Logistic Regression**

In [31]:
model = LogisticRegression()

In [32]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

LogisticRegression()

**Model Evaluation**

# **Accuracy** **Score**

In [33]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [34]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9626168224299065

In [35]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [36]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9629629629629629